<header id="home">
    <nav>
        <div class="row js--nav-icon">
            <%= image_tag 'logo-white.png', alt:"Omnifood logo", class: "logo" %>
            <%= link_to (image_tag 'logo.png', alt:"Omnifood logo", class: "logo-black"), '#home' %>
            <ul class="ul-nav js--ul-nav">
                <li><%= link_to 'Food Delivery', '#features' %></li>
                <li><%= link_to 'How It Works', '#works' %></li>
                <li><%= link_to 'Our Cites', '#cities' %></li>
                <li><%= link_to 'Sign Up', '#plans' %></li>
            </ul>
            <i class="fa fa-bars mobile-nav"></i>
        </div>
    </nav>
    <div class="row">
        <div class="hero-text-box">
            <h1>Goodbye junk food.<br> Hello super healthy meals.</h1>
            <%= link_to 'I’m hungry', '#', class: "btn btn-hungry js--btn-to-plans" %>
            <%= link_to 'Show me more', '#', class: "btn btn-more js--btn-to-start" %>
        </div>
    </div>
</header>
<section class="section-features js--section-features" id="features">
    <div class="row">
        <h2>Get food fast &ndash; not fast food</h2>
        <p class="content-introduction">
            Hello, we’re Omnifood, your new premium food delivery service. We know you’re always busy. No time for cooking. So let us take care of that, we’re really good at it, we promise
        </p>
    </div>
    <div class="row js--wp-features">
        <div class="col span-1-of-4 col-box">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <h3>Up to 365 days/year</h3>
            <p>
                Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can also choose to order more flexibly if that's your style.
            </p>
        </div>
        <div class="col span-1-of-4 col-box">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <h3>Ready in 20 minutes</h3>
            <p>
                You're only twenty minutes away from your delicious and super healthy meals delivered right to your home. We work with the best chefs in each town to ensure that you're 100% happy.
            </p>
        </div>
        <div class="col span-1-of-4 col-box">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <h3>100% organic</h3>
            <p>
                All our vegetables are fresh, organic and local. Animals are raised without added hormones or antibiotics. Good for your health, the environment, and it also tastes better!
            </p>
        </div>
        <div class="col span-1-of-4 col-box">
            <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
            <h3>Order anything</h3>
            <p>
                We don't limit your creativity, which means you can order whatever you feel like. You can also choose from our menu containing over 100 delicious meals. It's up to you!
            </p>
        </div>
    </div>
</section>
<section class="section-meals">
    <ul class="ul-meals clearfix">
        <li>
            <figure class="figure-meals">
                <%= image_tag '1.jpg', alt: "Korean bibimbap with egg and vegetables" %>
            </figure>
        </li>
        <li>
            <figure class="figure-meals">
                <%= image_tag '2.jpg', alt: "Simple italian pizza with cherry tomatoes" %>
            </figure>
        </li>
        <li>
            <figure class="figure-meals">
                <%= image_tag '3.jpg', alt: "Chicken breast steak with vegetables" %>
            </figure>
        </li>
        <li>
            <figure class="figure-meals">
                <%= image_tag '4.jpg', alt: "Autumn pumpkin soup" %>
            </figure>
        </li>
    </ul>
    <ul class="ul-meals clearfix">
        <li>
            <figure class="figure-meals">
                <%= image_tag '5.jpg', alt: "Paleo beef steak with vegetables" %>
            </figure>
        </li>
        <li>
            <figure class="figure-meals">
                <%= image_tag '6.jpg', alt: "Healthy baguette with egg and vegetables" %>
            </figure>
        </li>
        <li>
            <figure class="figure-meals">
                <%= image_tag '7.jpg', alt: "Burger with cheddar and bacon" %>
            </figure>
        </li>
        <li>
            <figure class="figure-meals">
                <%= image_tag '8.jpg', alt: "Granola with cherries and strawberries" %>
            </figure>
        </li>
    </ul>
</section>
<section class="section-steps" id="works">
    <div class="row">
        <div class="title-steps">
            <h2>How it works &ndash; Simple as 1, 2, 3</h2>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-2 col-steps-box">
            <%= image_tag 'app-iPhone.png', alt: "Omnifood app on iPhone", class: "app-iphone js--wp-phone" %>
        </div>
        <div class="col span-1-of-2">
            <div class="works-steps">
                <div class="step">
                    <h4>1</h4>
                    <p>Choose the subscription plan that best fits your needs and sign up today</p>
                </div>
                <div class="step">
                    <h4>2</h4>
                    <p>Order your delicious meal using our mobile app or website. Or you can even call us!</p>
                </div>
                <div class="step">
                    <h4>3</h4>
                    <p>Enjoy your meal after less than 20 minutes. See you the next time!</p>
                </div>
            </div>
            <div class="app-images">
                <%= link_to (image_tag 'download-app.svg', alt: "App Store Button"), '#'  %>
                <%= link_to (image_tag 'download-app-android.png', alt: "Play Store Button"), '#'  %>
            </div>
        </div>
    </div>
</section>
<section class="section-cities" id="cities">
    <div class="row">
        <div class="cities-title">
            <h2>We're currently in these cities</h2>
        </div>
    </div>
    <div class="row js--wp-cities">
        <div class="cities-intro">
            <div class="col span-1-of-4 city">
                <%= image_tag 'lisbon-3.jpg', alt: "Lisbon" %>
                <h3>Lisbon</h3>
                <div class="city-features">
                    <i class="fa fa-bed"></i><p>1600+ happy eaters</p><br>
                    <i class="fa fa-bank"></i><p>60+ top chefs</p><br>
                    <i class="fa fa-car"></i><%= link_to '@omnifood_lx', '#' %><br>
                </div>
            </div>
            <div class="col span-1-of-4 city">
                <%= image_tag 'san-francisco.jpg', alt: "San Francisco" %>
                <h3>San Francisco</h3>
                <div class="city-features">
                    <i class="fa fa-bed"></i><p>3700+ happy eaters</p><br>
                    <i class="fa fa-bank"></i><p>160+ top chefs</p><br>
                    <i class="fa fa-car"></i><%= link_to '@omnifood_sf', '#' %><br>
                </div>
            </div>
            <div class="col span-1-of-4 city">
                <%= image_tag 'berlin.jpg', alt: "Berlin" %>
                <h3>Berlin</h3>
                <div class="city-features">
                    <i class="fa fa-bed"></i><p>2300+ happy eaters</p><br>
                    <i class="fa fa-bank"></i><p>110+ top chefs</p><br>
                    <i class="fa fa-car"></i><%= link_to '@omnifood_berlin', '#' %><br>
                </div>
            </div>
            <div class="col span-1-of-4 city">
                <%= image_tag 'london.jpg', alt: "London" %>
                <h3>London</h3>
                <div class="city-features">
                    <i class="fa fa-bed"></i><p>1200+ happy eaters</p><br>
                    <i class="fa fa-bank"></i><p>50+ top chefs</p><br>
                    <i class="fa fa-car"></i><%= link_to '@omnifood_london', '#' %><br>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-testimonials">
    <div class="row">
        <div class="testimonials-title">
            <h2>Our customers can't live without us</h2>
        </div>
    </div>
    <div class="row">
        <div class="testimonials-customers">
            <div class="col span-1-of-3 customer">
                <i class="fa fa-quote-left"></i>
                <p>
                    Omnifood is just awesome! I just launched a startup which leaves me with no time for cooking, so Omnifood is a life-saver. Now that I got used to it, I couldn't live without my daily meals!
                </p>
                <div class="customer-detail">
                    <%= image_tag 'customer-1.jpg', alt: "Alberto Duncan" %>
                    <h5>&ndash; Alberto Duncan</h5> 
                </div>
            </div>
            <div class="col span-1-of-3 customer">
                <i class="fa fa-quote-left"></i>
                <p>
                    Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food delivery here in Lisbon, but no one comes even close to Omifood. Me and my family are so in love!
                </p>
                <div class="customer-detail">
                    <%= image_tag 'customer-2.jpg', alt: "Joana Silva" %>
                    <h5>&ndash; Joana Silva</h5>
                </div>
            </div>
            <div class="col span-1-of-3 customer">
                <i class="fa fa-quote-left"></i>
                <p>
                    I was looking for a quick and easy food delivery service in San Franciso. I tried a lot of them and ended up with Omnifood. Best food delivery service in the Bay Area. Keep up the great work!
                </p>
                <div class="customer-detail">
                    <%= image_tag 'customer-3.jpg', alt: "Milton Chapman" %>
                    <h5>&ndash; Milton Chapman</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-plans js--section-plans" id="plans">
    <div class="row">
        <div class="plans-title">
            <h2>Start eating healthy today</h2>
        </div>
    </div>
    <div class="row">
        <div class="plans js--wp-plans">
            <div class="col span-1-of-3 plan">
                <div class="plan-kind">
                    <h5>premium</h5>
                    <div class="clearfix plan-money">
                        <h1>$399</h1>
                        <span>/ month</span>
                    </div>
                    <p>That’s only 13.30$ per meal</p>
                </div>
                <div class="plan-details">
                    <ul>
                        <li><i class="fa fa-check"></i>1 meal every day</li>
                        <li><i class="fa fa-check"></i>Order 24/7</li>
                        <li><i class="fa fa-check"></i>Access to newest creations</li>
                        <li><i class="fa fa-check"></i>Free delivery</li>
                    </ul>
                </div>
                <div class="plan-box">
                    <%= link_to 'Sign up now', '#', class: 'btn plan-btn' %>
                </div>
            </div>
            <div class="col span-1-of-3 plan">
                <div class="plan-kind">
                    <h5>pro</h5>
                    <div class="clearfix plan-money">
                        <h1>149$</h1>
                        <span>/ month</span>
                    </div>
                    <p>That’s only 14.90$ per meal</p>
                </div>
                <div class="plan-details">
                    <ul>
                        <li><i class="fa fa-check"></i>1 meal 10 days/month</li>
                        <li><i class="fa fa-check"></i>Order 24/7</li>
                        <li><i class="fa fa-check"></i>Access to newest creations</li>
                        <li><i class="fa fa-check"></i>Free delivery</li>
                    </ul>
                </div>
                <div class="plan-box">
                    <%= link_to 'Sign up now', '#', class: 'btn plan-none-btn' %>
                </div>
            </div><div class="col span-1-of-3 plan">
                <div class="plan-kind">
                    <h5>starter</h5>
                    <div class="clearfix plan-money">
                        <h1>19$</h1>
                        <span>/ meal</span>
                    </div>
                    <p class="hidden">none</p>
                </div>
                <div class="plan-details">
                    <ul>
                        <li><i class="fa fa-check"></i>1 meal</li>
                        <li><i class="fa fa-check"></i>Order from 8 am to 12 pm</li>
                        <li><i class="fa fa-close"></i></li>
                        <li><i class="fa fa-check"></i>Free delivery</li>
                    </ul>
                </div>
                <div class="plan-box">
                    <%= link_to 'Sign up now', '#', class: 'btn plan-none-btn' %>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-form">
    <div class="row">
        <div class="form-title">
            <h2>We're happy to hear from you</h2>
        </div>
    </div>
    <div class="row">
    <%= form_for(:object, :html => { class: "class-horizontal", role: "form", id: "contact-form" }) do |f| %>
        <div class="row">
            <div class="col span-1-of-3">
                <%= f.label :name %>
            </div>
            <div class="col span-2-of-3">
                <%= f.text_field :name, placeholder: "Your name", :required => true %>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <%= f.label :email %>
            </div>
            <div class="col span-2-of-3">
                <%= f.email_field :email, placeholder: "Your email", :required => true %>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <%= f.label :how_did_you_find_us_? %>
            </div>
            <div class="col span-2-of-3">
                <%= select_tag(:findus, options_for_select([['Friends', 'friends'], 
                                                            ['Search engine', 'search'],
                                                            ['Avertisement', 'ad'],
                                                            ['Other', 'ot']])) %>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <%= f.label :newsletter? %>
            </div>
            <div class="col span-2-of-3">
                <%= check_box_tag(:news) %>
                <%= label_tag(:news, 'Yes, please') %>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <%= f.label :drop_us_a_line %>
            </div>
            <div class="col span-2-of-3">
                <%= f.text_area :messages, rows: 5, cols: 30, placeholder: "Your messages", :required => true %>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <%= f.label :send, class: "hidden" %>
            </div>
            <div class="col span-2-of-3">
                <%= f.submit 'Send it', class: "btn send-btn" %>
            </div>
        </div>
    <% end %>
    </div>
</section>
<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <div class="footer-nav">
                <ul>
                    <li><%= link_to 'About Us', '#' %></li>
                    <li><%= link_to 'Blog', '#' %></li>
                    <li><%= link_to 'Press', '#' %></li>
                    <li><%= link_to 'iOS App', '#' %></li>
                    <li><%= link_to 'Android App', '#' %></li>
                </ul>
            </div>
        </div>
        <div class="col span-1-of-2">
            <div class="footer-socials">
                <ul>
                    <li><%= link_to '', '#', class: "fa fa-facebook" %></li>
                    <li><%= link_to '', '#', class: "fa fa-twitter" %></li>
                    <li><%= link_to '', '#', class: "fa fa-google-plus" %></li>
                    <li><%= link_to '', '#', class: "fa fa-instagram" %></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="admire-review">
            <p> Omnifood &copy;Copyright by Duc Tuan Ngo </p>
        </div>
    </div>
</footer>